html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: rgb(91, 91, 255);
}

p {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.main{
  max-width: 600px;
  margin: 70px auto 20px;
  padding-left: 5px;
  padding-right: 5px;

  &__item{
    margin: 10px;
  }
  &__item span{
    font-size: large;
    position: absolute;
    top: 48px;
    left: 130px;
  }

  &__userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__userName{
   margin-left: 20px;
  }
  &__userInfo{
    margin: auto;
    width: 100px;
  }
  &__center{
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  &__post img, video, iframe{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  &__form{
    width: 100%;
  }
  &__bodyLabel{
    display: block;
    margin-top: 15px;
  }
  &__success{
    position: absolute;
    top: 40%;
    left: 48%;
    font-size: 36px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
  }
  &__successVisible{
    visibility: visible;
    opacity: 1;
  }
}
.blockItem{
  position: relative;
  min-height: 120px;
  border: 1px solid rgb(161, 161, 161);
  padding: 10px;
  transition: 0.2s;
  &:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  &__date{
    position: absolute;
    bottom: 8px;
    right: 8px;
    opacity: 0.5;
    font-size: 14px;
  }
  &__userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.loader{
  position: absolute;
  top: 40%;
  left: 49%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px dashed rgb(255, 156, 6);
}

.loader-enter-active {
  animation: show-loader .5s forwards;
}
.loader-enter-done {
  animation: rotate-loader .5s infinite;
}
.loader-exit-active {
  animation: show-loader .2s reverse;
}

@keyframes show-loader{
  0%{
    opacity: 0;
    transform: translateY(-200px);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes rotate-loader{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.newPostForm{
  &__inputTitle{
    width: 100%;
    height: 35px;
    background-color: rgb(240, 240, 240);
    outline: none;
    border: none;
    padding: 0px 10px;
    border-radius: 8px;
  }
  &__inputBody{
    resize: none;
    width: 100%;
    height: 600px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
    border-radius: 8px;
  }
  &__button{
    margin-top: 15px;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgb(255, 220, 168);
    transition: 0.2s;
  }
  &__button:hover{
    background-color: rgb(253, 207, 137);
  }
  &__button:active{
    background-color: rgb(255, 184, 77);
  }
}

.bin{
  width: 30px;
  height: 30px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: 0.2s;
}
.bin:hover{
  transform: scale(1.1);
}
