.header{
    height: 50px;
    background-color: #fff4e1;
    width: 100vw;
    &__wrapper{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 30%;
        // width: 30%;
        min-width: 200px;
        height: 100%;
    }
    &__logo{
        display: inline-block;
        position: absolute;
        top: 4px;
        width: 41px;
        height: 41px;
        margin-left: 10px;
    }
    &__home,&__users,&__profile,&__newPost {
        height: 100%;
        width: 50px;
        position: relative;
    }
    &__image{
        display: block;
        position: absolute;
        width: 35px;
        height: 35px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
            // background-color: #ffcd76;
        }
    }
    // &__home div{
    //     background-image: url('../public/homeIcon.png');
    // }
    // &__users div{
    //     background-image: url('../public/usersIcon.png');
    // }
    // &__profile div{
    //     background-image: url('../public/userIcon.png');
    // }
    // &__newPost div{
    //     background-image: url('../public/newIcon.png');
    // }
    &__choose::after{
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #ffcd76;
    }
}